*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/app/release/
/khalti-android/build/
key.jks
/khalti-android/installv1.gradle
/khalti-android/bintrayv1.gradle
/khalti-android/src/main/java/khalti/utils/Constant.java
